body{
    background-color: #edefee;
    margin: 3rem 5%;
    font-family: monospace;
    color: #494b4a;
    max-width: 80%;
    line-height: 2rem;
}
.wrapper {
    height: 10vh;
    display: grid;
    place-items: center;
  }
  
  .typing-demo {
    width: 51ch;
    animation: typing 5s steps(51), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2em;
    
  }
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }

header > img{
    display: block;
    margin: 0 auto;
    width: 40%;
}
nav{
    margin-bottom: 3rem;
}
nav ul {
    list-style: none;
    text-align: center;
}
nav li{
    display: inline-block;
    font-size: 2em;
}
li a{
    text-decoration: none;
    width: 2%;
    padding: 1em;
    color: #494b4a;
    transition: 1s linear;
}
a:hover{
    color: #fdd153;
}
section{
    display: flex;
}
article{
    flex: 1;
}
.banner{
    display: block;
    margin: 0 auto;
    width: 100%;
}
.main-desc{
    text-align: justify;
    font-size: 1.5em;
}
p .first-letter{
    color: #fdd153;
    font-weight: bold;
    font-size: larger;
}
h2{
    font-size: 2rem;
    text-align: center;
}
h3{
    font-size: 1.5rem;
    text-align: center;
}
.detalization{
    display: block;
    width: 80%;
    margin: 0 auto;
}
.desc{
    font-size: 1.25em;
    text-align: justify;
    width: 80%;
    margin: 1em auto;
}

.download-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;

}
.download-menu a,
p a{
    text-decoration: none;
    color: #494b4a;
    transition: 1s linear;
    font-size: 1.25rem;
    line-height: 2.5rem;
}
.download-menu a:hover{
    color: #fdd153;
}
form{
    margin: 3rem 0 5rem 0;
    border: solid 2px #fdd153;
}
.form-row{
    display: flex;
    width: 90%;
    margin: 0 auto;
}
form select, form input{
    display: block;
    width: 100%;
    margin: 1rem;
    padding: 0.5rem;
    font-size: 15px;
    outline: none;
    border: none;
    border-bottom: 1px solid #eee;
    font-weight: 300;
}
form input[type = text], form input[type = number], form input::placeholder, select{
    color: #9a9a9a;
}
form input[type = submit]{
    color: #fff;
    background: #fdd153;
    padding: 0.5em 0;
    border-radius: 4px;
    cursor: pointer;
    transition: 1s linear;
   
}
form input[type = submit]:hover{
    opacity: 0.9;
    color: #fdd153;
    background-color: #fff;
}
.contact{
    text-align: center;
    font-size: 1rem;
}
.gps{
    display: block;
    width: 70%;
    margin: 0 auto;
}
footer{
    display: flex;
    margin-top: 4rem;
}
footer div{
    flex: 1;
    align-self: center;
}
footer img{
    width: 7%;
    display: block;
    margin: 0 auto;
}
footer .copyright{
   text-align: start;
   font-style: italic;
} 